@charset "utf-8";
#first_page{
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    display: table;
    text-align: center;
    div{
        background-color: #e5e5e5;
        display: table-cell;
        height: 100vh;
        width: 100vw;
        vertical-align: middle;
        img{
            transition: all 1s;
            width:308px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    #first_page div img {
        width:270px;
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {
    #first_page div img {
        width: 232px;
    }
}

@media screen and (max-width:479px) {
    #first_page div img {
        width: 194px;
    }
}
#viewport{
    // 背景圖幻燈片
    .index_slider{
        width: 100vw;
        height:100vh;
        position: absolute;
        z-index: 0;
        .slider_item{
            width: 100vw;
            height:100vh;
            overflow:hidden;
            position: absolute;
            display: none;
            .slider_img{
                -webkit-animation:imageAnimation 36s infinite linear;
                animation:imageAnimation 36s infinite linear;
                width: 100vw;
                min-height:100vh;
                background-position: center;
            }
        }
        // 文字幻燈片
        .word_slider{
            
            
            .word_item{
                display: none;
                span{
                    display: block;
                }
                .word_title{
                    font-family: "AmsiPro-Black", serif;
                    text-align: right;
                    font-size: 47px;
                    color: white;
                    text-shadow: 4px 9px 4px rgba(0,0,0,.15);
                }
                .word_content{
                    font-family: "Arial", serif;
                    font-size: 19px;
                    color: white;
                    text-align: right;
                    margin-top: 10px;
                }
            }
            .ws01{
                position: absolute;
                z-index: 1;
                @media screen and (min-width: 768px) {
                    width: 591px;
                    top: 26%;
                    right: 10%;
                }
                @media screen and (min-width: 480px) and (max-width:767px) {
                    width: 90%;
                    top: 26%;
                    right: 5%;
                }
                @media screen and (max-width:479px) {
                    width: 90%;
                    top: 26%;
                    right: 5%;
                }
            }
            .ws02{
                position: absolute;
                z-index: 1;
                @media screen and (min-width: 768px) {
                    width: 591px;
                    top: 30%;
                    right: 19%;
                }
                @media screen and (min-width: 480px) and (max-width:767px) {
                    width: 90%;
                    right: 5%;
                    top: 30%;
                }
                @media screen and (max-width:479px) {
                    width: 90%;
                    right: 5%;
                    top: 30%;
                }
                .word_title{
                    opacity: 0.67;
                }
                .word_content{
                    opacity: 0.67;
                }
            }
        }
    }

}

@-webkit-keyframes imageAnimation{
    0%{
        -less-vendorify:auto;
        -o-animation-timing-function:ease-in;
        -ms-animation-timing-function:ease-in;
        -moz-animation-timing-function:ease-in;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    8%{
        -o-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -webkit-transform:scale(1.05);
        transform:scale(1.05);
        -less-vendorify:auto;
        -o-animation-timing-function:ease-out;
        -ms-animation-timing-function:ease-out;
        -moz-animation-timing-function:ease-out;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    17%,
    25%{
        -less-vendorify:auto;
        -o-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
}

@-moz-keyframes imageAnimation{
    0%{
        -less-vendorify:auto;
        -o-animation-timing-function:ease-in;
        -ms-animation-timing-function:ease-in;
        -moz-animation-timing-function:ease-in;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    8%{
        -o-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -webkit-transform:scale(1.05);
        transform:scale(1.05);
        -less-vendorify:auto;
        -o-animation-timing-function:ease-out;
        -ms-animation-timing-function:ease-out;
        -moz-animation-timing-function:ease-out;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    17%,
    25%{
        -less-vendorify:auto;
        -o-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
}

@-o-keyframes imageAnimation{
    0%{
        -less-vendorify:auto;
        -o-animation-timing-function:ease-in;
        -ms-animation-timing-function:ease-in;
        -moz-animation-timing-function:ease-in;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    8%{
        -o-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -webkit-transform:scale(1.05);
        transform:scale(1.05);
        -less-vendorify:auto;
        -o-animation-timing-function:ease-out;
        -ms-animation-timing-function:ease-out;
        -moz-animation-timing-function:ease-out;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    17%,
    25%{
        -less-vendorify:auto;
        -o-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
}

@keyframes imageAnimation{
    0%{
        -less-vendorify:auto;
        -o-animation-timing-function:ease-in;
        -ms-animation-timing-function:ease-in;
        -moz-animation-timing-function:ease-in;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    8%{
        -o-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -webkit-transform:scale(1.05);
        transform:scale(1.05);
        -less-vendorify:auto;
        -o-animation-timing-function:ease-out;
        -ms-animation-timing-function:ease-out;
        -moz-animation-timing-function:ease-out;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    17%,
    25%{
        -less-vendorify:auto;
        -o-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
}

