@charset "utf-8";
#viewport{
    .content_wrap{
        .content_work{
            position: absolute;
            top:13%;
            width: 100%;
            .title{
                font-size: 30px;
                text-align: center;
                margin-bottom: 26px;
                span.line{
                    height: 1px;
                    width:65px;
                    background-color: #696969;
                }
                span{
                    position: relative;
                    &:before{
                        content:"";
                        display: block;
                        position: absolute;
                        width:65px;
                        height: 1px;
                        background-color: #696969;
                        left: -75px;
                        top: 50%;
                    }
                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        width:65px;
                        height: 1px;
                        background-color: #696969;
                        right: -75px;
                        top: 50%;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .work_wrap{
                font-size: 0;
                margin: 0 12.8%;
                .work_item{
                    cursor: pointer;
                    @media screen and (min-width: 768px) {
                        width:calc(94%/3);
                        margin:1%;

                    }
                    @media screen and (min-width: 480px) and (max-width:767px) {
                        width:46%;
                        margin-right:2%;
                        margin: 0 2% 2%;
                    }
                    
                    @media screen and (max-width:479px) {
                        width: 96%;
                        margin: 2%;
                        &:last-child{
                            margin-bottom: 15%;
                        }
                    }
                    transition: 0.5s;
                    display: inline-block;
                    
                    img{
                        width:100%;
                    }
                    &:hover{
                        box-shadow:4px 4px 8px 0px rgba(0,0,0,0.36);
                    }

                }
            }
        }
        .content_work_detail{
            margin-top: 12%;
            display: inline-block;
            font-size: 0;
            position: relative;
            .content_left{
                margin-left:11.77%;
                vertical-align: bottom;
                display: inline-block;
                width: 46.87%;
                img{
                    width:100%;
                }
            }
            .content_right{
                width:33%;
                margin-left: 2.8%;
                vertical-align: bottom;
                display: inline-block;
                position: relative;
                .title{
                    font-size: 24px;
                    margin-bottom:1%;
                }
                .intro{
                    font-size: 18px;
                    margin-bottom: 2.3%;
                    width:50%;
                }
                .content{
                    font-size: 18px;
                }
                @media screen and (min-width: 768px) {
                    .title{
                        font-size: 20px;
                        margin-bottom:1%;
                    }
                    .intro,.content{
                        font-size: 14px;
                    }
                }
                @media screen and (min-width: 480px) and (max-width:767px) {
                    
                }
                
                @media screen and (max-width:479px) {
                    
                }
                .back{
                    width:image-width('image/back.png');
                    height:image-height('image/back.png');
                    background-image: url('/image/back.png');
                    position: absolute;
                    right: -4%;
                    bottom:0;
                    cursor: pointer;
                }
            }
            
        }
        
    }
}