/* line 2, ../../sass/pages/index.scss */
#first_page {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  display: table;
  text-align: center;
}
/* line 10, ../../sass/pages/index.scss */
#first_page div {
  background-color: #e5e5e5;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
}
/* line 16, ../../sass/pages/index.scss */
#first_page div img {
  transition: all 1s;
  width: 308px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 24, ../../sass/pages/index.scss */
  #first_page div img {
    width: 270px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 30, ../../sass/pages/index.scss */
  #first_page div img {
    width: 232px;
  }
}
@media screen and (max-width: 479px) {
  /* line 36, ../../sass/pages/index.scss */
  #first_page div img {
    width: 194px;
  }
}
/* line 42, ../../sass/pages/index.scss */
#viewport .index_slider {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
/* line 47, ../../sass/pages/index.scss */
#viewport .index_slider .slider_item {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  display: none;
}
/* line 53, ../../sass/pages/index.scss */
#viewport .index_slider .slider_item .slider_img {
  -webkit-animation: imageAnimation 36s infinite linear;
  animation: imageAnimation 36s infinite linear;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
}
/* line 65, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .word_item {
  display: none;
}
/* line 67, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .word_item span {
  display: block;
}
/* line 70, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .word_item .word_title {
  font-family: "AmsiPro-Black", serif;
  text-align: right;
  font-size: 47px;
  color: white;
  text-shadow: 4px 9px 4px rgba(0, 0, 0, 0.15);
}
/* line 77, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .word_item .word_content {
  font-family: "Arial", serif;
  font-size: 19px;
  color: white;
  text-align: right;
  margin-top: 10px;
}
/* line 85, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .ws01 {
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  /* line 85, ../../sass/pages/index.scss */
  #viewport .index_slider .word_slider .ws01 {
    width: 591px;
    top: 26%;
    right: 10%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 85, ../../sass/pages/index.scss */
  #viewport .index_slider .word_slider .ws01 {
    width: 90%;
    top: 26%;
    right: 5%;
  }
}
@media screen and (max-width: 479px) {
  /* line 85, ../../sass/pages/index.scss */
  #viewport .index_slider .word_slider .ws01 {
    width: 90%;
    top: 26%;
    right: 5%;
  }
}
/* line 104, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .ws02 {
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  /* line 104, ../../sass/pages/index.scss */
  #viewport .index_slider .word_slider .ws02 {
    width: 591px;
    top: 30%;
    right: 19%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 104, ../../sass/pages/index.scss */
  #viewport .index_slider .word_slider .ws02 {
    width: 90%;
    right: 5%;
    top: 30%;
  }
}
@media screen and (max-width: 479px) {
  /* line 104, ../../sass/pages/index.scss */
  #viewport .index_slider .word_slider .ws02 {
    width: 90%;
    right: 5%;
    top: 30%;
  }
}
/* line 122, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .ws02 .word_title {
  opacity: 0.67;
}
/* line 125, ../../sass/pages/index.scss */
#viewport .index_slider .word_slider .ws02 .word_content {
  opacity: 0.67;
}

@-webkit-keyframes imageAnimation {
  0% {
    -less-vendorify: auto;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -less-vendorify: auto;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17%,
    25% {
    -less-vendorify: auto;
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes imageAnimation {
  0% {
    -less-vendorify: auto;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -less-vendorify: auto;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17%,
    25% {
    -less-vendorify: auto;
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes imageAnimation {
  0% {
    -less-vendorify: auto;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -less-vendorify: auto;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17%,
    25% {
    -less-vendorify: auto;
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes imageAnimation {
  0% {
    -less-vendorify: auto;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -less-vendorify: auto;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17%,
    25% {
    -less-vendorify: auto;
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
