/* line 4, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_about, #viewport .content_wrap .content_news {
  display: none;
  position: absolute;
  top: 15%;
  width: 90%;
  left: 5%;
}
/* line 11, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header {
  position: relative;
}
/* line 13, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .title {
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
}
/* line 18, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .tab {
  position: absolute;
  top: calc(50% - 11px);
  right: 0;
  font-size: 0;
}
/* line 23, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .tab .about, #viewport .content_wrap .content_header .tab .news {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  color: white;
  cursor: pointer;
}
/* line 29, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .tab .about.current, #viewport .content_wrap .content_header .tab .news.current {
  color: #000;
}
/* line 32, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .tab .about:hover, #viewport .content_wrap .content_header .tab .news:hover {
  color: #000;
}
/* line 36, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .tab .about {
  margin-right: 32px;
  position: relative;
}
/* line 40, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_header .tab .about::after {
  content: "";
  cursor: default;
  position: absolute;
  width: 2px;
  height: 20px;
  right: -16px;
  background-color: white;
}
/* line 51, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container {
  margin-top: 5%;
  font-size: 0;
}
/* line 54, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .container_left {
  width: calc(50% - 20px);
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  margin-right: 20px;
}
/* line 60, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .container_left span {
  display: block;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 36px;
}
/* line 65, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .container_left span:first-child {
  margin-top: 10px;
}
/* line 70, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .container_right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
/* line 74, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .container_right img {
  width: 100%;
}
/* line 78, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item {
  width: 32%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
/* line 84, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item:nth-child(3n) {
  margin-right: 0;
}
/* line 87, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item .news_image {
  transition: .5s;
  cursor: pointer;
}
/* line 90, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item .news_image img {
  width: 100%;
}
/* line 93, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item .news_image:hover {
  box-shadow: 4px 4px 8px 0px rgba(177, 158, 146, 0.36);
}
/* line 97, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item .news_title {
  margin-top: 19px;
}
/* line 99, ../../sass/pages/profile.scss */
#viewport .content_wrap .content_container .news_item .news_title .date, #viewport .content_wrap .content_container .news_item .news_title .word {
  font-weight: 300;
  font-size: 18px;
  color: white;
}
/* line 107, ../../sass/pages/profile.scss */
#viewport .content_wrap .overlay {
  display: none;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}
/* line 116, ../../sass/pages/profile.scss */
#viewport .content_wrap .overlay .news_detail_wrap {
  max-width: 690px;
  padding: 2.5% 2.4% 2%;
  width: 38.4%;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  height: fit-content;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 128, ../../sass/pages/profile.scss */
#viewport .content_wrap .overlay .news_detail_wrap .close {
  cursor: pointer;
  font-size: 20px;
  color: #636363;
  position: absolute;
  right: 8px;
  top: 2px;
}
/* line 137, ../../sass/pages/profile.scss */
#viewport .content_wrap .overlay .news_detail_wrap .news_detail_image img {
  width: 100%;
}
/* line 142, ../../sass/pages/profile.scss */
#viewport .content_wrap .overlay .news_detail_wrap .news_detail_title .date, #viewport .content_wrap .overlay .news_detail_wrap .news_detail_title .word {
  font-weight: 300;
  font-size: 18px;
  color: #8d8d8d;
}
/* line 147, ../../sass/pages/profile.scss */
#viewport .content_wrap .overlay .news_detail_wrap .news_detail_title .content {
  font-weight: 300;
  font-size: 15px;
  color: #8d8d8d;
}
