/* line 4, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_recruit, #viewport .content_wrap .content_team {
  display: none;
  position: absolute;
  top: 11.8%;
  width: 90%;
  left: 5%;
}
@media screen and (min-width: 768px) {
  /* line 4, ../../sass/pages/recruit.scss */
  #viewport .content_wrap .content_recruit, #viewport .content_wrap .content_team {
    width: 80%;
    left: 10%;
    top: 15%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 4, ../../sass/pages/recruit.scss */
  #viewport .content_wrap .content_recruit, #viewport .content_wrap .content_team {
    width: 90%;
    left: 5%;
    top: 15%;
  }
}
@media screen and (max-width: 479px) {
  /* line 4, ../../sass/pages/recruit.scss */
  #viewport .content_wrap .content_recruit, #viewport .content_wrap .content_team {
    width: 90%;
    left: 5%;
    top: 15%;
  }
}
/* line 26, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header {
  position: relative;
}
/* line 28, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .title {
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
}
/* line 33, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .tab {
  position: absolute;
  top: calc(50% - 11px);
  right: 0;
  font-size: 0;
}
@media screen and (max-width: 479px) {
  /* line 33, ../../sass/pages/recruit.scss */
  #viewport .content_wrap .content_header .tab {
    top: 100%;
  }
}
/* line 41, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .tab .recruit, #viewport .content_wrap .content_header .tab .team {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  color: white;
  cursor: pointer;
}
/* line 47, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .tab .recruit.current, #viewport .content_wrap .content_header .tab .team.current {
  color: #000;
}
/* line 50, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .tab .recruit:hover, #viewport .content_wrap .content_header .tab .team:hover {
  color: #000;
}
/* line 54, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .tab .recruit {
  margin-right: 32px;
  position: relative;
}
/* line 58, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_header .tab .recruit::after {
  content: "";
  cursor: default;
  position: absolute;
  width: 2px;
  height: 20px;
  right: -16px;
  background-color: white;
}
/* line 69, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container {
  margin-top: 43px;
  font-size: 0;
  position: relative;
}
@media screen and (max-width: 479px) {
  /* line 69, ../../sass/pages/recruit.scss */
  #viewport .content_wrap .content_container {
    margin-top: 10%;
  }
}
/* line 77, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .title {
  color: white;
  font-size: 20px;
  margin-bottom: 26px;
}
/* line 82, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .recruit_item {
  color: #484747;
  font-size: 18px;
  margin-bottom: 3%;
}
/* line 86, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .recruit_item .name {
  font-weight: 300;
  font-size: 18px;
  font-weight: 600;
  color: #414141;
}
/* line 92, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .recruit_item div {
  margin-bottom: 7px;
}
/* line 94, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .recruit_item div:last-child {
  margin-bottom: 0;
}
/* line 97, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .recruit_item div span {
  margin-right: 2.3%;
}
/* line 99, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .recruit_item div span:last-child {
  margin-right: 0;
}
/* line 105, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .overflow_wrap {
  position: absolute;
  font-size: 0;
}
/* line 109, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item {
  width: 23%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 479px) {
  /* line 109, ../../sass/pages/recruit.scss */
  #viewport .content_wrap .content_container .team_item {
    width: 80%;
    margin: 0 10% 10%;
  }
}
/* line 118, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image {
  position: relative;
  overflow: hidden;
}
/* line 121, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image img {
  width: 100%;
}
/* line 124, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card {
  top: 100%;
  position: absolute;
  width: 100%;
  transition: 1s;
}
/* line 129, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .education {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 25%;
}
/* line 133, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .education div:first-child {
  margin-bottom: 5px;
}
/* line 135, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .education div:first-child span {
  font-size: 14px;
  padding: 0 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
/* line 142, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .education div:last-child {
  font-size: 12px;
  color: #fff;
}
/* line 147, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .experience {
  text-align: center;
}
/* line 149, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .experience > div:first-child {
  margin-bottom: 5px;
}
/* line 151, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .experience > div:first-child span {
  font-size: 14px;
  padding: 0 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
/* line 158, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image .card .experience div:last-child {
  font-size: 12px;
  color: #fff;
}
/* line 165, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .image:hover .card {
  top: 0;
  background-color: rgba(47, 47, 47, 0.75);
}
/* line 171, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .name_en {
  margin-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
/* line 177, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .name_ch {
  text-align: center;
  color: #000;
  font-size: 14px;
}
/* line 181, ../../sass/pages/recruit.scss */
#viewport .content_wrap .content_container .team_item .name_ch span:first-child {
  margin-right: 20px;
}
